@import '../../sass/base/colors';

.results {
  background-color: $yellow-color;

  .results-title {
    display: flex;
    justify-content: center;
    font-size: 2.4em;
    padding: 10px;
    span {
      border-bottom: 2px solid black;
    }
  }

  .results-content {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.1em;
    span {
      margin-bottom: 5px;
    }
  }
}