.information {
  margin: 15px;
  margin-bottom: 30px;
}

.information-title > h1 {
  color: white;
}

.information-content {
  color: rgb(255, 255, 255);
}

.text {
  word-wrap: break-word;
}

.numero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 181, 21);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 15px;
}

.social-network > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 60%;
  padding: 10px;
}

.social-network > a > .github {
  margin-right: 15px;
}

.github {
  background-color: rgb(255, 255, 255);
  width: 38px;
  height: 38px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github > img {
  width: 40px;
  height: 40px;
}

.paso {
  display: flex;
  margin: 15px;
}

.paso > p {
  display: flex;
  align-items: center;
}