@import '../../sass/base/colors';

.information {
  margin: 15px;
  margin-bottom: 30px;
}

.information-title > h1 {
  color: white;
}

.information-content {
  color: rgb(255, 255, 255);
}

.text {
  word-wrap: break-word;
}

.numero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $yellow-color;
  color: $black-color;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 15px;
}

.social-network {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $black-color;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 60%;
    padding: 10px;
  }

  .github {
    margin-right: 15px;
    background-color: rgb(255, 255, 255);
    width: 38px;
    height: 38px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.paso {
  display: flex;
  margin: 15px;

  p {
    display: flex;
    align-items: center;
  }
}
