.Cell {
  display: flex;
  justify-content: center;
  align-items: center;

  &.xs {
    width: 22px;
    height: 22px;
    margin: 1.2px;
  }

  &.ms {
    width: 10px;
    height: 10px;
    margin: 0.8px;
  }

  &.md {
    width: 8px;
    height: 8px;
    margin: 0.6px;
  }

  &.lg {
    width: 6px;
    height: 6px;
    margin: 0.5px;
  }

  button {
    background-color: black;
    border-radius: 8px;

    &.xs {
      width: 22px;
      height: 22px;
    }
  
    &.ms {
      width: 10px;
      height: 10px;
    }

    &.md {
      width: 8px;
      height: 8px;
    }
  
    &.lg {
      width: 7px;
      height: 7px;
    }
  }

  button:hover {
    background-color: #4b0f50d2;
    border: 2px solid rgb(233, 233, 233);
    transform: scale(1.05);
  }
}
