.obstacle {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    &.xs {
      width: 15px;
      height: 15px;
    }

    &.ms {
      width: 8px;
      height: 8px;
    }
  
    &.md {
      width: 8px;
      height: 8px;
    }
  
    &.lg {
      width: 7px;
      height: 7px;
    }
  }
}
