@import '../../sass/base/colors';

.options {
  margin: 15px;
  width: 100%;
}

.options-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-left: 2px solid #5e005e;
  width: 100%;
}

.options-header {
  padding: 10px;
  margin-bottom: 25px;
  color: white;

  span {
    font-size: 44px;
    font-style: italic;
  }
}

.option-dimensions {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.option-select-obstacle {
  margin-bottom: 20px;
  margin: 15px;
  width: 130px;
}

.option-row > input {
  padding: 10px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.199);
  border-bottom: 1px solid #5e005e;
  color: rgb(207, 207, 207);
  width: 130px;
}

.option-row > input::placeholder {
  color: rgb(207, 207, 207);
}

.option-col {
  margin-top: 20px;

  input {
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.199);
    border-bottom: 1px solid #5e005e;
    color: rgb(207, 207, 207);
    width: 130px;
  }

  input::placeholder {
    color: rgb(207, 207, 207);
  }
}

.option-submit {
  width: 70%;
  margin-top: 30px;

  button {
    background-color: #5e005e;
    border: 2px solid #360036;
    color: white;
    font-size: 18px;
    padding: 12px;
    border-radius: 30px;
    width: 100%;
    cursor: pointer;
  }
}

.options-extra {
  display: flex;
  margin: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.option {
  button {
    display: flex;
    flex-direction: column;
    background-color: $yellow-color;
    margin-right: 15px;
    padding: 5px;
    border-radius: 10px;

    span {
      margin-right: 5px;
    }

    img {
      width: 35px;
      height: 35px;
    }
  }
}

.option {
  position: relative;
  label {
    display: flex;
    padding: 10px;
    background-color: $yellow-color;
    border-radius: 5px;
    cursor: pointer;
    img {
      margin-left: 8px;
      width: 18px;
    }
    input[type="file"] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  .options {
    text-align: center;
  }
  .options-header {
    margin-bottom: 0;
  }
  .options-content {
    border: none;
    margin: auto;
  }
  .option-submit {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .option-select-obstacle {
    margin: auto;
  }
  .options-extra {
    margin: 15px;
    justify-content: center;
  }
}
